#container {
	height:800px;
	margin-bottom: 50px;
}

#spanhit {
	color: #2d2a2a;
	font-weight: bold;
}

#spankilled {
	color: #c62104;
	font-weight: bold;
}

#spanunknown {
	color: #d5d618;
	font-weight: bold;
}

.tbodystart  {
	font-weight: bold;
}

body {
	font-family: "Verdana";
}

h1 {
	font-weight: bold;
	text-align: center;
}

p {
	text-align: center;
}