/* You'll probably want to add some styles here */
#container {
	height:800px;
}

#spanhit {
	color: #2d2a2a;
	font-weight: bold;
}

#spankilled {
	color: #c62104;
	font-weight: bold;
}

#spanunknown {
	color: #d5d618;
	font-weight: bold;
}

.tbodystart  {
	font-weight: bold;
}